---
import Layout from '../layouts/Layout.astro';

// import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
import Timeline from '../components/Timeline.astro'
import TimelineItem from '../components/TimelineItem.astro';
import Profile from '../components/Profile.astro'
import render from '../content/render.png';
import SponsorshipPackage from '../content/Documentation/DET_info_package.pdf'

import LoganHeadshot from '../content/People/Logan.jpg';
import AidanHeadshot from '../content/People/Aidan.jpg';
import ShakHeadshot from '../content/People/Shak.jpg';
import PatrickHeadshot from '../content/People/Patrick.jpg';
import NickHeadshot from '../content/People/Nick.jpg';
import XiliHeadshot from '../content/People/Xili.jpg';
import MarcyHeadshot from '../content/People/Marcy.jpg';
import LiamHeadshot from '../content/People/Liam.jpg';
import LandynHeadshot from "../content/People/Landyn.png"

import background_video from '../content/website_rde_v1.mp4';
import Converge from '../content/sponsors/Converge.png';
import FEAS from '../content/sponsors/MUNFEAS.png';
import DS_solidworks from '../content/sponsors/DS_logo.png';
import Ansys from '../content/sponsors/Ansys_logo.png';
import NL_prov from '../content/sponsors/Province_NL.png';
import Fastenal from '../content/sponsors/Fastenal.png';
import Colab from '../content/sponsors/CoLab.png';
import Matlab from '../content/sponsors/Matlab.png';
import MetalPros from '../content/sponsors/metal_pros.png';
import Fortis from '../content/sponsors/Fortis.png';
import Altair from '../content/sponsors/Altair.png';
import MUN_MCE from '../content/sponsors/MUN_MCE.png';
import DETLogo from '../../public/DET_Logo0.png';
---

<Layout>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Economica&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<main>
		<div class="object-cover w-full max-w-full min-h-[40rem] xl:max-h-[40rem] top-0 flex justify-center items-center">
			<div class="font-Quicksand text-white md:text-7xl text-2xl text-right z-10">D E T e c h n o l o g i e s</div>
			<!-- <div class="flex flex-wrap justify-center">
				<img class="z-10 h-20" src={logo} />
				<div class="px-10 text-white text-7xl text-center z-10 ">Coming Soon</div>
			</div> -->
			<video
    			autoplay
   				loop
    			muted
				playsinline
				onloadstart="this.playbackRate = 0.75;"
    			class="object-cover absolute brightness-50 w-full min-h-[40rem] xl:max-h-[30rem] max-w-full top-0"
  			>
				<source
      				src={background_video}
      				type="video/mp4"
    			/>
			</video>
		</div>
		<div id="about" class="object-cover w-full max-w-full min-h-[75vh] top-0 flex justify-center">
			<div class="flex flex-col md:flex-row md:max-w-screen">
				<img class="object-cover w-full h-full md:w-1/2" src={render} alt="">
				<div class="flex flex-col md:p-4 p-10 leading-normal justify-center md:space-y-20 space-y-5">
					<div>
						<div class="mb-3 text-3xl font-Quicksand text-gray-200">Overview</div>
						<div class="mb-3 font-normal text-gray-400">
							This project aims to contribute to the global research field regarding Rotating Detonation Rocket Engine (RDRE) development. RDREs have prospective applications as orbital maneuvering thrusters, staged launch vehicle propulsion and supersonic aircraft engines. The goal of this project is to build a modular, liquid cooled, RDRE capable of thrust up to 1000N.
						</div>
						<div class="mb-3 font-normal text-gray-400">
							Our operational goals during the development process are to maximize prototype efficiency, develop an advanced ignition control system, and collect empirical data. The engine will be designed modularily, to accomodate future changes & technological advances, as research progresses allowing for optimal workflow. Work will be published in full, as a reference roadmap for future design, construction, and testing of RDREs; here at Memorial and on the global scale.
						</div>
						<div class="mb-3 text-3xl font-Quicksand text-gray-200">Long Term Objectives</div>
						<div class="mb-3 font-normal text-gray-400">
							<div>DETechnologies is seeking not only to contribute to the research environment surrounding the development of RDREs, but also to stimulate aerospace/rocketry/combustion research interest in Newfoundland. With our successful RDRE prototype, we plan to:</div>
							<ul class="list-disc ml-10">
								<li>Encourage the Memorial Univeristy Engineering Faculty to hire Aerospace-focused faculty members, and help establish a new research lab & research program.</li>
								<li>Push for undergraduate Engineering aerospace/combustion courses.</li>
								<li>Open opportunities for a student team at MUN to attend TheLaunchCanada student rocketry competition.</li>
								<li>Showcase our functional RDRE prototype to inspire future Engineering students, and to promote Memorial's potential for future Aerospace Engineering success.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="object-cover w-full max-w-full min-h-[75vh] top-0 flex justify-center">
			<div class="flex flex-col md:flex-row md:max-w-screen">
				<div class="flex flex-col md:p-4 p-10 leading-normal w-screen justify-center md:space-y-20 space-y-5">
					<div>
						<div class="mx-5">
							<div class="mb-3 text-3xl font-Quicksand text-gray-200">Timeline</div>
							<Timeline>
								<TimelineItem title="Theoretical Engine Design" date="February 2023"/>
								<!-- <TimelineItem title="Iterative Design" date="May 2023"/> -->
								<TimelineItem title="Prototype Fabrication" date="November 2023"/>	
								<TimelineItem title="Testing & Validation" date="March 2024"/>
							</Timeline>
							<div class="mb-3 text-3xl font-Quicksand text-gray-200">About the Team</div>
							<div class="mb-3 font-normal text-gray-400">
							Our founding members are four Mechanical Engineering Students studying at Memorial University of Newfoundland. Each have previously played key leadership roles on either Baja or Paradigm student design teams, all which have been important to Memorial Engineering programs growth. This project originally began as an Engineering Capstone project, where it inspired them to pursue RDRE research further. DETs mission is not only to sustainably power the future of Aerospace Engineering, but also to to inspire and empower students to push boundaries. "The sky is not the limit" 
							</div>
							<div class="mb-3 font-normal text-gray-400">
								Connect with our team on Linkedin!
							</div>
						</div>
						<div class="justify justify-center items-center gap-2 space-y-4">
							<div class="md:space-y-0 space-y-4 grid grid-cols-1 md:grid-cols-4 place-items-center">
								<Profile name="Shakib Miri" linkedinURL="https://www.linkedin.com/in/shakib-miri-mun2024/" image={ShakHeadshot} />
								<Profile name="Logan Palmer" linkedinURL="https://www.linkedin.com/in/lrpalmer/" image={LoganHeadshot} />
								<Profile name="Aidan Clark" linkedinURL="https://www.linkedin.com/in/aidanmhclark/" image= {AidanHeadshot} />
								<Profile name="Patrick Cleary" linkedinURL="https://www.linkedin.com/in/patrick-cleary-/" image={PatrickHeadshot} />
							</div>
							<div class="md:mx-32 md:space-y-0 space-y-4 grid grid-cols-1 md:grid-cols-4 place-items-center">
								<Profile small={true} name="Dr. Xili Duan" linkedinURL="https://www.linkedin.com/in/xili-duan-8282337/" image={XiliHeadshot} />						
								<Profile small={true} name="Landyn Heath" linkedinURL="https://www.linkedin.com/company/detechnologies/about/" image={LandynHeadshot} />
								<Profile small={true} name="Liam Earle" linkedinURL="https://www.linkedin.com/in/liam-earle-98b553185/" image={LiamHeadshot} />
								<Profile small={true} name="Nick Ryan" linkedinURL="https://www.linkedin.com/in/nicholas-ryan-519111204/" image={NickHeadshot} />
								<Profile small={true} name="Marcella Whelan" linkedinURL="https://www.linkedin.com/in/marcella-whelan-04a573296/" image={MarcyHeadshot} />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sponsors" class="object-cover w-full max-w-full min-h-[94vh] top-0 flex justify-center pb-10">
			<div class="flex flex-col md:flex-row md:max-w-screen">
				<div class="flex flex-col p-4 items-center leading-normal">
					<div class="mb-2 md:pt-5 xl:pt-10 text-7xl font-Quicksand text-white">Partners</div>
					<div class="mb-3 font-normal text-gray-400 text-center">
						These partners are a crucial part of our team. They allow us to fund the design, fabrication and testing of our engine! We'd like to thank all of these folks below!
					</div>
					<a href={SponsorshipPackage}><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Become a Sponsor</button></a>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-6xl font-Quicksand text-white">Platinum</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.colabsoftware.com/">
								<img class="h-20" src={Colab}>	
							</a>
						</div>
						<div class="flex row-auto">
							<a href="https://www.DETechnologies.ca">
								<img class="h-40" src={DETLogo}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-5xl font-Quicksand text-white">Gold</div>
						<div class="flex row-auto">
							<a href="https://convergecfd.com/">
								<img class="h-20" src={Converge}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-4xl font-Quicksand text-white">Silver</div>
						<div class="flex row-auto">
							<a class="font-bold text-2xl tracking-tight text-white" href="https://www.mun.ca/engineering/undergraduate/community-service-and-volunteering/angus-bruneau-student-life-program/">
								Angus Bruneau Student LIFE Program
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-3xl font-Quicksand text-white">Other Supporters</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://altair.com/">
								<img class="h-10" src={Altair}>	
							</a>
							<a href="https://my.solidworks.com/">
								<img src={DS_solidworks}>
							</a>
							<a href="https://www.mathworks.com/products/matlab.html">
								<img class="h-10"src={Matlab}>
							</a>
							<a href="https://www.ansys.com/">
								<img src={Ansys}>
							</a>
						</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.fortisinc.com/">
								<img class="h-10" src={Fortis}>	
							</a>
							<a href="https://www.fastenal.com/">
								<img class="h-10" src={Fastenal}>
							</a>
							<a href="https://www.metalpros.com/">
								<img class="h-10" src={MetalPros}>
							</a>
						</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.mun.ca/engineering/">
								<img class="w-20" src={FEAS}>	
							</a>
							<a href="https://www.mun.ca/mce/">
								<img class="h-20" src={MUN_MCE}>
							</a>
						</div>
					</div>
					<!-- <div class="flex flex-col md:flex-row md:max-w-screen">
						<div class="flex flex-col p-4 items-center leading-normal">
							<div class="mb-2 md:pt-5 xl:pt-10 text-7xl font-Quicksand text-white">Support Our Work</div>
							<div class="mb-3 font-normal text-gray-400">
								If you'd like to support our work, feel free to contact us, or click the paypal button below!
							</div>
						</div>
					</div>
					<div id="donate-button-container" class="py-5">
						<div id="donate-button"></div>
						<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
						<script>
							PayPal.Donation.Button({
							env:'production',
							hosted_button_id:'FQ42BDKLHYRRN',
							image: {
							src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
							alt:'Donate with PayPal button',
							title:'PayPal - The safer, easier way to pay online!',
							}
							}).render('#donate-button');
						</script>
					</div> -->
				</div>
			</div>
		</main>
	<Footer />
</Layout>