---
import Layout from '../layout/Layout.astro';
import { Image } from 'astro:assets';
import Timeline from '../components/Timeline.astro';
import TimelineItem from '../components/TimelineItem.astro';
import TeamProfile from '../components/TeamProfile.astro';

import logo from '../content/DET_Logo.png';
import engine from '../content/engine.png';
import background_video from '../content/website_rde_v1.mp4';

import LoganHeadshot from '../content/People/Logan.jpg';
import AidanHeadshot from '../content/People/Aidan.jpg';
import ShakHeadshot from '../content/People/Shak.jpg';
import PatrickHeadshot from '../content/People/Patrick.jpg';
import NickHeadshot from '../content/People/Nick.jpg';
import XiliHeadshot from '../content/People/Xili.jpg';
import MarcyHeadshot from '../content/People/Marcy.jpg';
import LiamHeadshot from '../content/People/Liam.jpg';
import LandynHeadshot from "../content/People/Landyn.png"

import Converge from '../content/sponsors/Converge.png';
import FEAS from '../content/sponsors/MUNFEAS.png';
import DS_solidworks from '../content/sponsors/DS_logo.png';
import Ansys from '../content/sponsors/Ansys_logo.png';
import NL_prov from '../content/sponsors/Province_NL.png';
import Fastenal from '../content/sponsors/Fastenal.png';
import Colab from '../content/sponsors/CoLab.png';
import Matlab from '../content/sponsors/Matlab.png';
import MetalPros from '../content/sponsors/metal_pros.png';
import Fortis from '../content/sponsors/Fortis.png';
import Altair from '../content/sponsors/Altair.png';
import MUN_MCE from '../content/sponsors/MUN_MCE.png';
import Clickup from '../content/sponsors/Clickup.png';
import Swagelok from '../content/sponsors/Swagelok.png';

import SponsorshipPackage from '../content/Documentation/DET_info_package.pdf';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/DET_Logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DETechnologies</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Economica&family=Quicksand:wght@300&display=swap" rel="stylesheet">
		<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
	</head>
	<body>
		<Layout>
			<div class="flex items-center justify-center w-screen h-[40rem] bg-gray-600">
				<Image class="z-10" height={256} src={logo} alt="logo" />
				<video
    			autoplay
   				loop
    			muted
				playsinline
				onloadstart="this.playbackRate = 0.75;"
    			class="object-cover absolute brightness-50 w-full min-h-[40rem] xl:max-h-[30rem] max-w-full top-0"
  			>
				<source
      				src={background_video}
      				type="video/mp4"
    			/>
			</video>
			</div>
			<div id="overview" class="flex justify-center bg-gray-700">
				<div class="flex flex-col items-center py-10">
					<div class="text-2xl text-white font-bold">Overview</div>
					<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
					<div class="overflow-hidden">
						<model-viewer class="h-96 w-screen max-w-screen" src="./RDE-ASYM.glb" ar ar-placement="wall" camera-controls touch-action="pan-y" alt="A 3D model of a Rotating Detonation Engine"></model-viewer>
					</div>
					<div class="pt-4 lg:px-[30%] px-10 text-gray-300">
						<div>
							This senior mechanical engineering capstone project aims to contribute to the Rotating Detonation Rocket Engine (RDRE) research field. RDREs have prospective applications as orbital maneuvering thrusters, and staged launch vehicle propulsion. The goal of this project is to build a modular, liquid cooled, research engine capable of producing 1350N of thrust.<br><br>Our operational goals during the development process is to study the effect of engine geometry on stability and engine performance. The engine will be designed modularily, to accomodate future changes as research progresses. Work will be published in full along with all experimental data, as a reference roadmap for future design, construction, and testing of RDREs; here in Newfoundland and on the global scale.
						</div>
					</div>
				</div>
			</div>
			<div id="objectives" class="flex justify-center bg-gray-800">
				<div class="flex flex-col items-center py-10">
					<div class="text-2xl text-white font-bold">Long Term Objectives</div>
					<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
					<div class="pt-4 pb-10 lg:px-[30%] px-10 text-gray-300">
						<div>
							DETechnologies is seeking not only to contribute to the RDRE research environment, but also to stimulate aerospace/rocketry/combustion interest in Newfoundland. With our successful RDRE prototype, we plan to:
						</div>
						<ul class="px-5 pt-3 list-disc list-outside">
							<li>Encourage the Memorial Univeristy Engineering Faculty to hire Aerospace-focused faculty members, and help establish a new research lab & research program.</li>
							<li>Push for undergraduate Engineering aerospace/combustion courses at MUN.</li>
							<li>Open opportunities for a student team at MUN to attend TheLaunchCanada student rocketry competition.</li>
							<li>Showcase our functional RDRE prototype to inspire future Engineering students, and to promote Memorial's potential for future Aerospace Engineering success.</li>
						</ul>
					</div>
					<Timeline>
						<TimelineItem title="Theoretical Engine Design" date="February 2023"/>
						<TimelineItem title="Prototype Fabrication" date="November 2023"/>	
						<TimelineItem title="Testing & Validation" date="March 2024"/>
						<TimelineItem title="Launch Canada Rocketry Competition" date="August 2024"/>
					</Timeline>
				</div>
			</div>
			<div id="people" class="flex justify-center bg-gray-700">
				<div class="flex flex-col items-center py-10">
					<div class="text-2xl text-white font-bold">Our Team</div>
					<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
					<div class="lg:flex lg:flex-row grid grid-cols-2 lg:space-x-10 pt-4 lg:px-[20%] px-10 text-gray-300">
						<TeamProfile image={ShakHeadshot} name="Shakib Miri" linkedin="https://www.linkedin.com/in/shakib-miri-mun2024/" isLarge={true}/>
						<TeamProfile image={LoganHeadshot} name="Logan Palmer" linkedin="https://www.linkedin.com/in/lrpalmer" isLarge={true}/>
						<TeamProfile image={AidanHeadshot} name="Aidan Clark" linkedin="https://www.linkedin.com/in/aidanmhclark/" isLarge={true}/>
						<TeamProfile image={PatrickHeadshot} name="Patrick Cleary" linkedin="https://www.linkedin.com/in/patrick-cleary-/" isLarge={true}/>
					</div>
					<div class="lg:flex flex-row lg:space-x-10 pt-4 lg:px-[20%] px-10 text-gray-300 lg:visible hidden">
						<TeamProfile image={XiliHeadshot} name="Dr. Xili Duan" linkedin="https://www.linkedin.com/in/xili-duan-8282337/"/>
						<TeamProfile image={LandynHeadshot} name="Landyn Heath" linkedin="https://www.linkedin.com/in/landynheath/"/>
						<TeamProfile image={LiamHeadshot} name="Liam Earle" linkedin="https://www.linkedin.com/in/liam-earle-98b553185/"/>
						<TeamProfile image={NickHeadshot} name="Nick Ryan" linkedin="https://www.linkedin.com/in/nicholas-ryan-519111204/"/>
						<TeamProfile image={MarcyHeadshot} name="Marcella Whelan" linkedin="https://www.linkedin.com/in/marcella-whelan-04a573296/"/>
					</div>
					<div class="grid grid-cols-3 pt-4 px-10 text-gray-300 lg:hidden">
						<TeamProfile image={XiliHeadshot} name="Dr. Xili Duan" linkedin="https://www.linkedin.com/in/xili-duan-8282337/"/>
						<TeamProfile image={LandynHeadshot} name="Landyn Heath" linkedin="https://www.linkedin.com/in/landynheath/"/>
						<TeamProfile image={LiamHeadshot} name="Liam Earle" linkedin="https://www.linkedin.com/in/liam-earle-98b553185/"/>
					</div>
					<div class="grid grid-cols-2 pt-4 px-[96px] text-gray-300 lg:hidden">
						<TeamProfile image={NickHeadshot} name="Nick Ryan" linkedin="https://www.linkedin.com/in/nicholas-ryan-519111204/"/>
						<TeamProfile image={MarcyHeadshot} name="Marcella Whelan" linkedin="https://www.linkedin.com/in/marcella-whelan-04a573296/"/>
					</div>
				</div>
			</div>
			<div id="sponsors" class="flex justify-center bg-gray-800">
				<div class="flex flex-col items-center py-10">
					<div class="text-2xl text-white font-bold">Partners</div>
					<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
					<div class="mb-3 font-normal text-gray-400 text-center">
						These partners are a crucial part of our team. They allow us to fund the design, fabrication and testing of our engine! We'd like to thank all of these folks below!
					</div>
					<a href={SponsorshipPackage}><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Become a Sponsor</button></a>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-6xl font-Quicksand text-white">Platinum</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.colabsoftware.com/">
								<img class="max-h-20" src={Colab.src}>	
							</a>
						</div>
						<div class="flex row-auto">
							<a href="https://www.DETechnologies.ca">
								<img class="h-40" src={logo.src}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-5xl font-Quicksand text-white">Gold</div>
						<div class="flex row-auto">
							<a href="https://convergecfd.com/">
								<img class="h-20" src={Converge.src}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-4xl font-Quicksand text-white">Silver</div>
						<div class="flex row-auto">
							<a class="font-bold text-2xl tracking-tight text-white" href="https://www.mun.ca/engineering/undergraduate/community-service-and-volunteering/angus-bruneau-student-life-program/">
								Angus Bruneau Student LIFE Program
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center px-10">
						<div class="pt-10 text-3xl font-Quicksand text-white">Other Supporters</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://altair.com/">
								<img class="max-h-10" src={Altair.src}>	
							</a>
							<a href="https://my.solidworks.com/">
								<img src={DS_solidworks.src}>
							</a>
							<a href="https://www.mathworks.com/products/matlab.html">
								<img class="max-h-10"src={Matlab.src}>
							</a>
							<a href="https://www.ansys.com/">
								<img src={Ansys.src}>
							</a>
							<a href="https://clickup.com/">
								<img class="max-h-10" src={Clickup.src}>
							</a>
						</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.fortisinc.com/">
								<img class="max-h-10" src={Fortis.src}>	
							</a>
							<a href="https://www.fastenal.com/">
								<img class="max-h-10" src={Fastenal.src}>
							</a>
							<a href="https://www.metalpros.com/">
								<img class="max-h-10" src={MetalPros.src}>
							</a>
							<a href="https://www.swagelok.com/en">
								<img class="max-h-20" src={Swagelok.src}>
							</a>
						</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://www.mun.ca/engineering/">
								<img class="w-20" src={FEAS.src}>	
							</a>
							<a href="https://www.mun.ca/mce/">
								<img class="max-h-20" src={MUN_MCE.src}>
							</a>
						</div>
					</div>
			</div>
		</Layout>
	</body>
</html>
